.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: scroll;
}

.modal-content {
  margin: 1% auto;
  width: 96%;
  max-width: 800px;
  height: 967%;
}

form {
  padding: 1.5rem 1.5rem 8rem;
  background: $white;
  border-radius: .5rem;
}

.contact-form {
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: -1.5%;
  right: 1.5%;
  font-size: 2rem;
  font-weight: bold;

  &:hover {
    @extend %close;
  }

  &:focus {
    @extend %close;
  }
}

%close {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
}

fieldset {
  border: 1.5px solid $text-color;
  margin-bottom: 1.5rem;
  padding: 1rem 2rem 3rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 2%;
}

legend {
  padding: 0.2em 0.5em;
  color: $text-color;
  font-size: 1rem;
  font-family: $body_font_size;
}

.form__group-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-basis: 100%;
  margin-bottom: 1rem;
}

.form__control {
  font-family: $body_font;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  &-text {
    margin-left: .5rem;
  }
}

.form-btn {
  float: right;
  margin-bottom: 2rem;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: $text-color;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid $text-color;
  border-radius: 50%;
  transform: translateY(.1em);
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: .1em;
    left: .1em;
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: $primary-color;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.form__control + .form__control {
  margin-left: 1em;
}

.form__group {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
  gap: .3rem;

  & label {
    font-family: $body_font;
    font-size: 1rem;
    font-weight: bold;
  }
}

input[type='text'],
input[type='tel'],
select {
  border: 1.5px solid $text-color;
  background-color: $white;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-family: $body_font;
  font-size: 1rem;
}
