/* From https://websemantics.uk/tools/responsive-font-calculator/ */
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* line 4, base/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 10, base/_normalize.scss */
body {
  margin: 0; }

/* line 14, base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/* line 29, base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 37, base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 42, base/_normalize.scss */
[hidden],
template {
  display: none; }

/* line 47, base/_normalize.scss */
a {
  background-color: transparent; }

/* line 51, base/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 56, base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 60, base/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 65, base/_normalize.scss */
dfn {
  font-style: italic; }

/* line 69, base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 74, base/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 79, base/_normalize.scss */
small {
  font-size: 80%; }

/* line 83, base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 91, base/_normalize.scss */
sup {
  top: -0.5em; }

/* line 95, base/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 99, base/_normalize.scss */
img {
  border: 0; }

/* line 103, base/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 107, base/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 111, base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 116, base/_normalize.scss */
pre {
  overflow: auto; }

/* line 120, base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 128, base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 138, base/_normalize.scss */
button {
  overflow: visible; }

/* line 142, base/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 147, base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 155, base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 160, base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 166, base/_normalize.scss */
input {
  line-height: normal; }

/* line 170, base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 176, base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 181, base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 186, base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 192, base/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 197, base/_normalize.scss */
textarea {
  overflow: auto; }

/* line 201, base/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 205, base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 210, base/_normalize.scss */
td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
  font-family: 'Commissioner-Regular';
  src: url("../../fonts/Commissioner-Regular.woff2") format("woff2"), url("../../fonts/Commissioner-Regular.woff") format("woff"), url("../../fonts/Commissioner-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Commissioner-ExtraBold';
  src: url("../../fonts/Commissioner-ExtraBold.woff2") format("woff2"), url("../../fonts/Commissioner-ExtraBold.woff") format("woff"), url("../../fonts/Commissioner-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal; }
/* line 24, base/_typography.scss */
body {
  color: #000000;
  font-family: "Commissioner-Regular", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  font-size: clamp(15px, calc(0.9375rem + ((1vw - 3.75px) * 0.2817)), 18px);
  min-height: 0vw; }

/* line 33, base/_typography.scss */
h1, h2, h3 {
  clear: both;
  font-family: "Commissioner-ExtraBold", sans-serif;
  font-weight: 800;
  min-height: 0vw; }

/* line 40, base/_typography.scss */
h1 {
  line-height: 1.1;
  font-size: clamp(40px, calc(2.5rem + ((1vw - 3.75px) * 3.7559)), 80px); }

/* line 45, base/_typography.scss */
h2 {
  line-height: 1.15;
  font-size: clamp(32px, calc(2rem + ((1vw - 3.75px) * 2.2535)), 56px); }

/* line 50, base/_typography.scss */
h3 {
  line-height: 1.6;
  font-size: clamp(15px, calc(0.9375rem + ((1vw - 3.75px) * 0.4695)), 20px); }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* line 4, base/_elements.scss */
html {
  box-sizing: border-box; }

/* line 8, base/_elements.scss */
*,
*::before,
*::after {
  box-sizing: inherit; }

/* line 14, base/_elements.scss */
body {
  background: #ffffff;
  overflow-x: hidden; }

/* line 19, base/_elements.scss */
.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1440px; }

/* line 25, base/_elements.scss */
img {
  height: auto;
  max-width: 100%; }

/* line 30, base/_elements.scss */
figure {
  margin: 0;
  padding: 0; }

/* line 35, base/_elements.scss */
ul, ol {
  margin-bottom: 1.5em; }

/* line 39, base/_elements.scss */
ul {
  list-style: none; }

/* line 43, base/_elements.scss */
li > ul,
li > ol {
  margin-bottom: 0; }

/* line 48, base/_elements.scss */
a {
  text-decoration: none; }

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
/* line 5, components/_buttons.scss */
.heading__responsive-btn {
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;
  top: 30px;
  right: 25px; }
  /* line 14, components/_buttons.scss */
  .heading__responsive-btn.active .lines:nth-child(1) {
    top: 12px;
    transform: rotate(495deg); }
  /* line 19, components/_buttons.scss */
  .heading__responsive-btn.active .lines:nth-child(2) {
    opacity: 0;
    width: 0; }
  /* line 24, components/_buttons.scss */
  .heading__responsive-btn.active .lines:nth-child(3) {
    top: 12px;
    transform: rotate(-135deg); }
  @media (min-width: 640px) {
    /* line 5, components/_buttons.scss */
    .heading__responsive-btn {
      display: none; } }

/* line 35, components/_buttons.scss */
.lines {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #191921;
  position: absolute;
  cursor: pointer;
  transition: all .8s ease-in-out; }
  /* line 44, components/_buttons.scss */
  .lines:nth-child(1) {
    top: 0; }
  /* line 48, components/_buttons.scss */
  .lines:nth-child(2) {
    top: 10px; }
  /* line 52, components/_buttons.scss */
  .lines:nth-child(3) {
    top: 20px; }

/* line 57, components/_buttons.scss */
.navigation__btn {
  color: #ffffff;
  background-color: #f94f4f;
  font-family: "Commissioner-ExtraBold", sans-serif;
  padding: 1rem 2rem;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
  border: none; }

/*--------------------------------------------------------------
# Others buttons
--------------------------------------------------------------*/
/* line 71, components/_buttons.scss */
.hero__btn,
.footer__btn {
  color: #ffffff;
  background-color: #f94f4f;
  font-family: "Commissioner-ExtraBold", sans-serif;
  font-size: clamp(15px, calc(0.9375rem + ((1vw - 3.75px) * 0.2817)), 18px);
  padding: 1rem 2rem;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
  border: none; }

/* line 91, components/_buttons.scss */
.about__btn {
  color: #f94f4f;
  position: relative;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none; }
  /* line 100, components/_buttons.scss */
  .about__btn::after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 5px;
    background: #f94f4f;
    margin: 0 auto;
    left: 0;
    top: 1.57rem;
    width: 100%;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    cursor: pointer; }

/* line 131, components/_buttons.scss */
.carousel__navigations-btn-previous {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  cursor: pointer; }

/* line 144, components/_buttons.scss */
.carousel__navigations-btn-next {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  cursor: pointer; }

/* line 157, components/_buttons.scss */
.hero__btn:hover,
.footer__btn:hover, .hero__btn:active,
.footer__btn:active, .about__btn:hover, .about__btn:active, .about__btn:hover::after, .about__btn:active::after, .carousel__navigations-btn-previous:hover, .carousel__navigations-btn-previous:active, .carousel__navigations-btn-next:hover, .carousel__navigations-btn-next:active {
  opacity: .8; }

/* line 2, components/_carousel.scss */
.carousel__figure {
  display: none; }
  /* line 5, components/_carousel.scss */
  .carousel__figure.active {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto); }
/* line 12, components/_carousel.scss */
.carousel__image {
  grid-column: 1 /2;
  grid-row: 1 / 3; }
  /* line 16, components/_carousel.scss */
  .carousel__image img {
    width: 100%;
    height: 472px;
    object-fit: cover; }
/* line 23, components/_carousel.scss */
.carousel__figcaption {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: end;
  padding-right: 25px;
  padding-bottom: 25px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  mix-blend-mode: normal;
  opacity: 0.75;
  color: #ffffff;
  transform: translateY(-0.4rem); }
/* line 36, components/_carousel.scss */
.carousel__figcaption-title {
  margin-bottom: 0; }
/* line 40, components/_carousel.scss */
.carousel__figcaption-date {
  margin: 0; }

/* line 45, components/_carousel.scss */
.carousel__navigation {
  background-color: #191921;
  padding: 4rem 0;
  transform: translateY(-0.55rem);
  color: #ffffff; }
  /* line 51, components/_carousel.scss */
  .carousel__navigation-title {
    display: none; }
    /* line 54, components/_carousel.scss */
    .carousel__navigation-title.active {
      display: inline-block;
      margin-left: 25px;
      width: 80%; }

/* line 62, components/_carousel.scss */
.carousel__navigations-btn {
  margin-left: 25px; }
  /* line 65, components/_carousel.scss */
  .carousel__navigations-btn-next {
    margin-left: 10px; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* line 5, layouts/_header.scss */
.heading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  z-index: 10; }
  @media (min-width: 640px) {
    /* line 5, layouts/_header.scss */
    .heading {
      height: 178px; } }

/* line 18, layouts/_header.scss */
.heading__logo {
  position: fixed;
  top: 25px;
  left: 25px; }
  @media (min-width: 640px) {
    /* line 18, layouts/_header.scss */
    .heading__logo {
      left: 39px; } }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/* line 32, layouts/_header.scss */
.navigation {
  font-size: 16px;
  position: fixed;
  top: -200px;
  right: 45px;
  background-color: #191921;
  padding: 1rem 2rem 2rem 2rem;
  z-index: 9;
  transition: transform .8s ease-in-out; }
  /* line 42, layouts/_header.scss */
  .navigation.active-menu {
    transform: translateY(290px); }

/* line 47, layouts/_header.scss */
.navigation__list-items {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-left: 0;
  text-align: center; }

/* line 54, layouts/_header.scss */
.menu {
  margin-bottom: 1rem; }
  /* line 57, layouts/_header.scss */
  .menu > a {
    color: #ffffff; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/* line 5, layouts/_footer.scss */
footer {
  background-color: #ffffff;
  padding: 4rem 0 6rem 0; }

/* line 11, layouts/_footer.scss */
.footer__title {
  width: 90%;
  margin: 0 auto 4rem 25px; }
/* line 16, layouts/_footer.scss */
.footer__btn {
  margin-left: 25px; }

/*--------------------------------------------------------------
# Main index.html
--------------------------------------------------------------*/
/* line 5, pages/_index.scss */
.wrapper__content {
  position: absolute;
  top: 90px;
  z-index: 0; }

/* line 11, pages/_index.scss */
#about,
#services,
#projects {
  position: relative;
  top: -89px; }

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
/* line 22, pages/_index.scss */
.hero {
  padding-bottom: 6rem; }
  /* line 25, pages/_index.scss */
  .hero__image {
    width: 100vw; }
    /* line 28, pages/_index.scss */
    .hero__image img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: top center; }
  /* line 36, pages/_index.scss */
  .hero__title {
    width: 90%;
    margin: 2.5rem auto 1.5rem 25px; }
  /* line 41, pages/_index.scss */
  .hero__text {
    width: 90%;
    margin: 0 auto 3rem 25px; }
  /* line 46, pages/_index.scss */
  .hero__btn {
    margin-left: 25px; }

/*--------------------------------------------------------------
# About section
--------------------------------------------------------------*/
/* line 56, pages/_index.scss */
.about {
  padding-bottom: 6rem;
  background-color: #191921;
  color: #ffffff; }
  /* line 61, pages/_index.scss */
  .about__image {
    display: block;
    width: 100vw;
    position: relative; }
    /* line 66, pages/_index.scss */
    .about__image img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: top center; }
    /* line 73, pages/_index.scss */
    .about__image::after {
      content: url("./../assets/desktop/bg-pattern-wave-red.svg");
      display: block;
      position: absolute;
      top: 90%;
      left: 5%;
      zoom: 50%; }
  /* line 83, pages/_index.scss */
  .about__title {
    width: 90%;
    margin: 4rem auto 1.5rem 25px; }
  /* line 88, pages/_index.scss */
  .about__text-decoration {
    color: #f94f4f; }
  /* line 92, pages/_index.scss */
  .about__text {
    width: 90%;
    margin: 0 auto 1.5rem 25px; }
  /* line 97, pages/_index.scss */
  .about__btn {
    margin-left: 25px; }

/*--------------------------------------------------------------
# Services section
--------------------------------------------------------------*/
/* line 106, pages/_index.scss */
.services {
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: #f94f4f;
  color: #ffffff;
  position: relative; }
  /* line 113, pages/_index.scss */
  .services__title {
    width: 90%;
    margin: 0 auto 6rem 25px; }
  /* line 118, pages/_index.scss */
  .services__article:not(:last-child) {
    margin-bottom: 6rem; }

/* line 124, pages/_index.scss */
.article__title {
  width: 85%;
  margin: 0 auto 2rem 25px;
  position: relative; }
/* line 130, pages/_index.scss */
.article__text {
  width: 83%;
  margin-left: 30px; }

/* line 136, pages/_index.scss */
.first::before {
  content: '01';
  color: #ffffff;
  font-family: "Commissioner-ExtraBold", sans-serif;
  font-size: 56px;
  position: absolute;
  opacity: .3;
  top: -43px;
  left: -10px; }

/* line 147, pages/_index.scss */
.second::before {
  content: '02';
  color: #ffffff;
  font-family: "Commissioner-ExtraBold", sans-serif;
  font-size: 56px;
  position: absolute;
  opacity: .3;
  top: -43px;
  left: -10px; }

/* line 158, pages/_index.scss */
.third::before {
  content: '03';
  color: #ffffff;
  font-family: "Commissioner-ExtraBold", sans-serif;
  font-size: 60px;
  position: absolute;
  opacity: .3;
  top: -48px;
  left: -10px; }

/*# sourceMappingURL=style.css.map */
